.main{
  border: 8px solid green;
  background-image: url(https://tse4.mm.bing.net/th?id=OIP.xddyM5Z5llwe5nz0xAnhvAHaD_&pid=Api&P=0&h=180);
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px;
}
.headerbox{
  height: 100px;
  width: 360px;
  color: white;
  border: 8px solid red;
  background-color: black;
  border-radius: 30px;
  font-size: 30px;
  font-style: italic;
  padding : 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.headerbox1{
  height: 50px;
  width: 400px;
  color: white;
  border: 8px solid red;
  background-color: black;
  border-radius: 30px;
  font-size: 30px;
  font-style: italic;
  padding: 20px;
  text-align: center;
}
.headerbox2{
  height: 100px;
  width: 400px;
  color: white;
  border: 8px solid red;
  background-color: black;
  border-radius: 30px;
  font-size: 25px;
  font-style: italic;
  padding : 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}
.Menu{
  display: flex;
  justify-content: center;
}
.menu{
  margin-top: 100px;
  text-align: center;
  font-size: xx-large;
  color: white;
  font-weight: bolder;
  font-style: italic;
}

.box{
  border-radius: 35px;
  margin: 50px;
  width: 380px;
  height: 280px;
  border: 3px solid rgb(0, 98, 100);
  background-color: turquoise;
  color: darkblue;
  text-align: center;
  align-content: center;
}
.section{
  display: flex;
  justify-content: space-evenly;
}
.ul{
  font-size: larger;
  align-items: center;
  list-style-type: disc;
  margin-left: 100px;
  text-align: left;
}
.middle {
  display: flex;
  height: 100vh;
  align-items: center;
}

/* Circle */
.circle{
  border: 8px solid slategray;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: lightseagreen;
}
.upper{
  font-size: x-large;
  font-style: italic;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding-top: 140px;
  font-weight: bold;
  padding-bottom: 20px;
}
.content{
  padding: 20px 10px;
  border-bottom: 2px solid slategray;
  border-top: 2px solid slategray;
  font-size: x-large;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

/* Form */
.form{
  margin-left: 15px;
  width: 500px;
  border: 5px dashed red;
}
.formbox{
  padding-top: 15px;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: xx-large;
  color: red;
  font-weight: bolder;
}
.formbox1{
  padding-top: 10px;
  width: 100%;
  border-top: 2px solid silver;
  text-align: center;
  color: red;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 50px;
}